attrs==23.2.0
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
cramjam==2.8.3
distlib==0.3.8
fastparquet==2024.2.0
filelock==3.13.4
flatbuffers==24.3.25
fsspec==2024.3.1
idna==3.7
numpy==1.26.4
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.4
packaging==24.0
pandas==2.2.2
platformdirs==4.2.0
pyarrow==16.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-cache==1.2.0
retry-requests==2.0.0
six==1.16.0
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.1
virtualenv==20.25.1
